<body>



  <h2>WCAG F68: example failures</h2>

    {{!-- Bare input --}}
    <input type="text" name="firstName">

    {{!-- Text masquerading as a `label` for nearby `input` --}}
    First Name: <input type="text" name="firstName" />

    {{!-- `div` masquerading as a `label` for child `input`  --}}
    <div>First Name: 
      <input type="text" name="firstName" />
    </div>






  <h2>WCAG F68: example fixes</h2>

    {{!-- Matching `label-for`-`input-id` pair --}}
    <label for="input-firstName">First Name</label>
    <input type="text" id="input-firstName" name="firstName" />

    {{!-- Label as a Parent --}}
    <label>First Name
      <input type="text" name="firstName" />
    </label>

    {{!-- `aria-label` attribute on the `input` --}}
    <input type="text" name="firstName" aria-label="First Name" />

    {{!-- `aria-labelledby` attribute on the `input`--}}
    <input type="text" name="search" aria-labelledby="button-search"/> 
    <button type="submit" id="button-search">Search</button>



</body>


{{outlet}}